.headerPanel {
    background-color:#0080c0; 
    color:White; 
    padding: 4px;
}

.keyLinks {
    color:Black;
    text-align: left;
}

.errorPanel {
    background-color:#e4e4e4; 
    color:Black;
    padding: 2px;
    min-width: 230px;
}

.mainPanel {
    background-color:White;
}

.link{
  font-weight: bold;
  text-decoration: underline;
}
.visited {
  font-weight: bold;
  text-decoration: line-through;
}
hover, focus {
  text-decoration: underline;
}
.x19  .x4z {
     text-align: inherit;
}
.upperCase {
    text-transform:uppercase;
    color: Black;
    }
 
.x2h {
width: 132px;
}
 