@charset "UTF-8";
/**ADFFaces_Skin_File / DO NOT REMOVE**/
@namespace af "http://xmlns.oracle.com/adf/faces/rich";
@namespace dvt "http://xmlns.oracle.com/dss/adf/faces";

/** ***************************************************** **/
/** Komponente: Messages                                  **/
/** ***************************************************** **/
af|messages {
    color: blue;
    background-color: #ffffff;
}

af|messages::error-icon {
    content: url("../images/error.png");
    width: 0px;
    height: 0px;
}

af|messages::header-text {
    font-size: 14px;
    font-weight: bold;
}

af|messages::message-group-title {
    font-size: 14px;
    font-weight: bold;
    padding-top: 4px;
}

af|messages::component-link {
    font-size: 12px;
    font-weight: bold;
    color: blue;
}
/* The title for the combined messages */
af|messages::intro {
    background-color: white;
    padding-top: 3px;
}

af|messages::info-icon {
    content: url("../images/info.png");
    width: 16px;
    height: 16px;
}

af|messages::confirmation-icon {
    content: url("../images/confirmation.png");
    width: 16px;
    height: 16px;
}

af|messages::fatal-icon {
    content: url("../images/error.png");
    width: 16px;
    height: 16px;
}

 af|listItem:selected af|link
{
     
  text-decoration: underline;
}
af|messages::warning-icon {
    content: url("../images/warning.png");
    width: 16px;
    height: 16px;
}

.AFErrorIcon:alias {
    content:url("../images/error.png");
    width:16px; height:16px
}

.AFWarningIcon:alias {
    content: url("../images/warning.png");
    width:16px; height:16px;
}

.AFInfoIcon:alias {
    content: url("../images/info.png");
    width:16px; height:16px;
}

.AFConfirmationIcon:alias {
    content: url("../images/confirmation.png");
    width:16px; height:16px;
}

.AFLogoIcon:alias {
    content: url("../images/success.png");
    width:16px; height:16px;
}



af|column::data-cell {
    padding-bottom: 1px; 
    padding-top: 1px; 
}
 

af|table::data-row {
    height: 20px; 
}

af|inputText::content {
    text-transform: uppercase; 
    color: Black;
    text-align: left;    
}

af|inputText:disabled::content {
    color: Black;
    text-align: left;
}

af|panelLabelAndMessage::label {
    color: Black; 
}

af|inputText:disabled.AFFieldNumberMarker::content {
    text-align: left; 
}

.AFFieldNumberMarker {
    text-align: left; 
}

.AFFieldNumber {
    text-align: left; 
}

.AFDataNumber {
    text-align: left; 
}

.AFDataNumberDisabled {
    text-align: left; 
}

.AFFieldNumberDisabled {
    text-align: left; 
}

af|inputText {
    text-align: left; 
}

af|table {
    width: 231px; 
}

af|link:disabled::text {
    color: Black; 
}

af|dialog.popupWithoutHeaderFooter af|dialog::header,
af|dialog.popupWithoutHeaderFooter af|dialog::header-start,
af|dialog.popupWithoutHeaderFooter af|dialog::header-end,
af|dialog.popupWithoutHeaderFooter af|dialog::footer,
af|dialog.popupWithoutHeaderFooter af|dialog::footer-start,
af|dialog.popupWithoutHeaderFooter af|dialog::footer-end {  
    display: none;  
    border-collapse: collapse;
}

.AFNoteWindow {
    display: none; 
}

.AFNoteWindowConeBorder {
    display: none;
}

.AFNoteWindowConeBL {
    display: none;
}

af|panelLabelAndMessage.panelFreightBill af|panelLabelAndMessage::label{  
    padding-left: 1px;
    font-size:xx-small;
}

af|panelLabelAndMessage.panelFreightBill af|panelLabelAndMessage::end-facet{  
    padding-left: 3px;
}
