.align-left{
    text-align: left;
}
.margin-btm-2 {
    margin-bottom:2px;
}
.height-15 {
    height: 15em;
}
.whitespace-nowrap {
    white-space: nowrap;
}
.width-230 {
    width:230px;
}
 
.pad-left-8{
    padding-left:8px;
}
.font-md{
    font-size:medium;
}
.overflow-x-hidden{
    overflow-x: hidden;
}

.headerPanel {
    background-color:#0080c0; 
    color:White; 
    padding: 4px;
}

.keyLinks {
    color:Black;
    text-align: left;
    outline : 0;
}

.errorPanel {
    background-color:#e4e4e4; 
    color:Black;
    padding: 2px;
    min-width: 230px;
}

.mainPanel {
    background-color:White;
}

.link{
  font-weight: bold;
  text-decoration: underline;
}
.visited {
  font-weight: bold;
  text-decoration: line-through;
}
hover, focus {
  text-decoration: underline;
}
.x19  .x4z {
     text-align: inherit;
}
.upperCase {
    text-transform:uppercase;
    color: Black;
    }
 
.x2h {
width: 132px;
}

